<div class="page-header">
<h1>Join <small> the </small>language learning <small>communities!</small></h1>
</div>

    <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item">
      <img alt="" src="/assets/img-classroom.jpg">
      <div class="carousel-caption">
        <h4>Bring your classmates together</h4>
        <p>Organize yourself and your fellow classmates into learning groups based on real language school groups.<p>
      </div>
    </div>
    <div class="item">
      <img alt="" src="/assets/img-notebooks.jpg">
      <div class="carousel-caption">
        <h4>Share and communicate lessons, words and phrases</h4>
        <p>Share together lessons and what you have learned in them. Phrases from lessons, words and examples all become part of your group's dictionary. Let people from the group discuss, correct or edit these phrases and words. This becomes your group's personal dictionary notebook!</p>
      </div>
    </div>
    <div class="item">
      <img alt="" src="/assets/img-conference.jpg">
      <div class="carousel-caption">
        <h4>Get yourself ready for the exam</h4>
        <p>Prepare yourself for the final exam! Review all the lessons, phrases, words and discussions about them all in one place. Help a colleague that missed a lesson to easily check what you have studied. And next year, refresh your knowledge about what you have learned a year before.</p>
      </div>
    </div>
    <div class="item">
      <img alt="" src="/assets/img-devices.jpg">
      <div class="carousel-caption">
        <h4>Works on every device</h4>
        <p>Whether you are using a PC, Mac, iPhone, iPad, Android or a good old Linux, application works seamlessly on all of them. Put your knowledge in the cloud and access it from any device that uses an internet connection!</p>
      </div>
    </div>
    <div class="item">
      <img alt="" src="/assets/img-join.png">
      <div class="carousel-caption">
        <h4>Come and join a new learning experience</h4>
        <p>Apply for an early beta and experience a new kind of learning, a collaborative lean learning.</p>
      </div>
    </div>

    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

<%= render "sessions/providers_form" %>
