<h1>Learn languages</h1>

<p>
  <% if current_user %>
     <%= link_to "Groups", user_groups_path(current_user) %></br>
     <%= link_to "Lessons", user_lessons_path(current_user) %></br>
  <% else %>
     <%= link_to "Sign in / Sign up", "/sessions/index" %>
  <% end %>

</p>
