<h1>Learn languages</h1>

<p>
  Groups  #TODO: Link to user's groups
</p>

<p>
  Lessons  #TODO: Link to user's lessons
</p>

<p>
  <% if current_user %>
     <%= link_to "Sign out", signout_path %>
  <% else %>
     <%= link_to "Sign in / Sign up", "/sessions/index" %>
  <% end %>

</p>
