<h1><%= @user.name %> had lessons</h1>

<%= render "lessons/lessons_table_form" %>

<% if !@lessons.present? %>
  No lessons were attended. Join the group and attend some lessons!</br></br>
  <%= link_to "Groups", groups_path, :class => 'btn btn-primary' %>
<% end %>

